{%- liquid
  assign buybutton_setting = block.settings.show_payment_button

  comment
    Used on templates/ajax-quick-add
  endcomment
  if buybutton_setting == nil
    assign buybutton_setting = settings.quickview_buybutton_enable
  endif

  assign btn_atc_class = 'btn--outline'
  if buybutton_setting
    assign btn_atc_class = 'btn--outline'
  endif

  comment
    Override buy button setting if there are selling plan groups
  endcomment
  if product.selling_plan_groups.size > 0
    assign buybutton_setting = false
  endif

  assign show_quantity = show_quantity | default: block.settings.show_quantity | default: false

  assign button_text = 'products.product.add_to_cart' | t
  if is_preorder
    assign button_text =  'products.product.pre_order' | t
  endif

  unless current_variant.available
    assign button_text =  'products.product.sold_out' | t
  endunless
  if product.metafields.custom.on_hold
    assign button_text =  'On Hold'
  endif
-%}

{%- capture quantity_selector -%}
  {%- if show_quantity -%}
    <div class="select-popout" data-popout data-popout-prevent="true">
      <button type="button"
        class="select-popout__toggle"
        aria-expanded="false"
        aria-controls="{{ unique }}-select-quantity"
        aria-labelledby="{{ unique }}-select-quantity-label"
        data-popout-toggle>
        <span data-popout-toggle-text>1</span>
        {%- render 'icon-nav-arrow-down' -%}
      </button>

      <ul id="{{ unique }}-select-quantity" class="select-popout__list" data-popout-list>
        {%- for idx in (1..10) -%}
          <li class="select-popout__item{% if forloop.index == 1 %} is-active{% endif %} {% if idx > product.selected_or_first_available_variant.inventory_quantity %}hidden{% endif %}">
            <a class="select-popout__option" href="#" {% if forloop.index == 1 %}aria-current="true"{% endif %} data-value="{{ forloop.index }}" data-popout-option>
              <span>
                {{ forloop.index }} {% if forloop.last %}+{% endif %}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
      
        <div class="quantity-selector" data-quantity-holder>
          <label for="product-quantity-buttons-{{ section_id }}" class="label-hidden">{{ 'products.product.quantity' | t }}</label>

          <button type="button" class="quantity__minus" data-quantity-minus data-quantity-button tabindex="0" title="{{ 'cart.general.decrease_quantity_label' | t }} - {{ product.title | strip_html }}">{%- render 'icon-minus' -%}</button>

          <input id="product-quantity-buttons-{{ section_id }}" data-popout-input type="number" class="quantity__input" value="1" min="1" max="{{ product.selected_or_first_available_variant.inventory_quantity }}" aria-label="quantity" autocomplete="off" name="quantity" data-quantity-field title="{{ 'cart.general.quantity_field_label' | t }} - {{ product.title | strip_html }}" pattern="[0-9]*">

          <button type="button" class="quantity__plus" data-quantity-plus data-quantity-button tabindex="0" title="{{ 'cart.general.increase_quantity_label' | t }} - {{ product.title | strip_html }}">{% render 'icon-plus' %}</button>
        </div>
    </div>
  {%- else -%}
    <input type="hidden" name="quantity" value="1">
  {%- endif -%}
{%- endcapture -%}

<div class="product__block product__block--buttons"
  {{ block_style }}
  {{ block.shopify_attributes }}>
  {%- form 'product', product, id: product_form_id, class: 'product-form', data-product-form: '' -%}
    <div class="product__submit{% if buybutton_setting %} product__submit--spb{% endif %}"
      {% if animation_name %}
        data-animation="{{ animation_name }}"
        data-animation-duration="{{ animation_duration }}"
        data-animation-delay="{{ animation_delay }}"
      {% endif %}>
      <div class="product__form__errors" data-cart-errors-container></div>

      <div class="product__submit__buttons{% if buybutton_setting and show_quantity == false %} product__submit__buttons--inline{% endif %}">
        <div class="product__submit__item{% if show_quantity %} product__submit__item--inline{% endif %}">
          {% unless product.title contains 'Set of' or product.title contains 'Pair of' %}
            {{ quantity_selector }}
          {% endunless %}
          <button
            name="add"
            class="btn btn--primary {{ btn_atc_class }}"
            {%- if product.metafields.custom.on_hold -%}
              disabled="disabled"
              type="button"
            {% elsif product.tags contains 'waitlist' and current_variant.available != true %}
              {% assign button_text = 'Waitlist' %}
              data-trigger-swym
              type="button"
            {% elsif current_variant.available != true %}
              disabled="disabled"
              type="button"
            {% else %}
              type="submit"
              data-add-to-cart
              data-focus-element
            {% endif %} data-label="{{ button_text }}">

            <span {% if product.metafields.custom.on_hold %} style="display:none" {% endif %}class="btn__text" data-add-to-cart-text>
          {{ button_text }} 
          </span>
 {% if product.metafields.custom.on_hold %}
          <span class="btn__text" >
       On Hold
          </span>
{% endif %}
            <span class="btn__added">&nbsp;</span>

            <span class="btn__loader">
              <svg height="18" width="18" class=" svg-loader">
                <circle r="7" cx="9" cy="9" />
                <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
              </svg>
            </span>

          </button>
          {% if section.settings.quote_url != blank and section.settings.quote_text != blank %}
            <a href="javascript:void(0)" type="button" id="request-quote" class="product-additional-button btn btn--outline">{{ section.settings.quote_text }}</a>
          {% endif %}
          <button type="button" class="hold-item product-additional-button btn btn--outline" id="hold-btn">Hold Item</button>
        </div>
        {%- if buybutton_setting -%}
          <div class="product__submit__item">
            {{ form | payment_button }}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endform -%}
</div>

<div id="popup1" class="overlay">
  <div class="overlay-blocker close"></div>
  <div class="popup">
      <a class="close" href="javascript:void(0);">&times;</a>
      <div class="content">
          {%- form 'contact', id: 'hold-request' -%}
            
            {%- if form.posted_successfully? -%}
              <script>
                var successMessage = document.createElement('div');
                successMessage.textContent = 'Your request has been sent.';
                successMessage.classList.add('hold-success');

                var templateProduct = document.querySelector('[data-product]');
                if (templateProduct) {
                  var existingSuccessMessage = templateProduct.querySelector('.hold-success');
                  if (!existingSuccessMessage) {
                    templateProduct.insertBefore(successMessage, templateProduct.firstChild);
                  }
                }
                history.pushState({}, document.title, window.location.pathname);
              </script>
            {%- endif -%}
            {{ form.errors | default_errors }}
            <input type="hidden" name="contact[product]" value="{{ product.title }}">
            <div class="form-group">
              <p><b>Your Name:</b> <input placeholder="Name" type="text" class="mail_filed_one" id="name" value="" name="contact[name]"></p>
              <span style="color:red;" class="error" id="name_error"> Name Is Required </span>
            </div>
            <div class="form-group">
              <p><b>Your Email:</b> <input placeholder="Email" type="email" class="mail_filed_one"  id="email" value="" name="contact[email]"></p>
               <span style="color:red;" class="error" id="email_error"> Email Is Required </span>
               <span style="color:red;" class="error" id="email_invalid">Email Is InValid </span>
            </div>
            <div class="form-group">
              <p><b>Your Phone Number:</b> <input placeholder="Phone Number" type="tel" class="mail_filed_one" id="phone_number" value="" required name="contact[phone-number]"></p>
            </div> 
            <div class="form-text-area"> 
            <div class="form-group head-req">
              <p>This is a request to place a 24-hour hold on the following item: <br><span style="font-weight:bold;" id="porduct_span">{{ product.title }}</span></p>
            </div>
             <div class="form-group" style="display:none">
                {{section.settings.customer_note_info}}
            </div>
            <div class="form-group">
              <p><i>{{section.settings.customer_note}}</i></p>
            </div>
              <textarea cols="50" rows="5" id="form-message" placeholder="Message" name="contact[messsage]"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn--primary btn--solid btn--full">
                {{ 'contact.form.send' | t }}
              </button>
            </div>
          {%- endform -%}
      </div>
  </div>
</div>

<div id="popup2" class="overlay">
  <div class="overlay-blocker close"></div>
  <div class="popup">
      <a class="close" href="javascript:void(0);">&times;</a>
      <div class="content">
          <p>Fill out the form for a shipping quote request.  We will get back to you within 1-3 business days.</p>
          <a href="mailto:info@amsterdammodern.com" class="btn  btn--text btn--primary hero__btn">
            <span>INFO@AMSTERDAMMODERN.COM</span></a><br/>
          {%- form 'contact', id: 'quote-request' -%}
            
            {%- if form.posted_successfully? -%}
              <script>
                var successMessage = document.createElement('div');
                successMessage.textContent = 'Your request has been sent.';
                successMessage.classList.add('hold-success');

                var templateProduct = document.querySelector('[data-product]');
                if (templateProduct) {
                  var existingSuccessMessage = templateProduct.querySelector('.hold-success');
                  if (!existingSuccessMessage) {
                    templateProduct.insertBefore(successMessage, templateProduct.firstChild);
                  }
                }
                history.pushState({}, document.title, window.location.pathname);
              </script>
            {%- endif -%}
            {{ form.errors | default_errors }}
            <input type="hidden" name="contact[product]" value="{{ product.title }}">
            <div class="form-group">
              <p><b>Full Name:</b> <input placeholder="Name" type="text" class="mail_filed_one" id="name" value="" name="contact[name]"></p>
              <span style="color:red;" class="error" id="name_error"> Name Is Required </span>
            </div>
            <div class="form-group">
              <p><b>Email:</b> <input placeholder="Email" type="email" class="mail_filed_one"  id="email" value="" name="contact[email]"></p>
               <span style="color:red;" class="error" id="email_error"> Email Is Required </span>
               <span style="color:red;" class="error" id="email_invalid">Email Is InValid </span>
            </div>
            <div class="form-group">
              <p><b>Phone Number:</b> <input placeholder="Phone Number" type="tel" class="mail_filed_one" id="phone_number" value="" required name="contact[phone-number]"></p>
            </div> 
            <div class="form-group">
              <p><b>Street Address:</b> <input placeholder="Street Address" type="text" class="mail_filed_one" id="street_address" value="" required name="contact[street-address]"></p>
            </div> 
            <div class="form-group">
              <p><b>City, State, Zip Code:</b> <input placeholder="City, State, Zip Code" type="text" class="mail_filed_one" id="city" value="" required name="contact[city]"></p>
            </div> 
            <div class="form-group"> 
              <p>
                <b>Message:</b> 
                <textarea cols="50" rows="5" id="form-message" placeholder="Message" class="mail_filed_one" name="contact[messsage]"></textarea>
              </p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn--primary btn--solid btn--full">
                {{ 'contact.form.send' | t }}
              </button>
            </div>
          {%- endform -%}
      </div>
  </div>
</div>